.gpt3_header {
    display: flex;
}

.gpt3_header-content {
    flex:1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    margin-right: 5rem;
    margin-top:-4rem;
}

.gpt3_header-content h1 {
    font-family: var(--font-family);

    font-size: 62px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  

    background: linear-gradient(180deg, rgba(221, 144, 144, 0.60) 0%, rgba(76, 237, 227, 0.97) 9.9%, rgba(76, 237, 227, 0.97) 15.63%, rgba(78, 230, 223, 0.87) 22.21%, rgba(107, 209, 202, 0.31) 22.22%, #4BEFE5 22.23%, rgba(78, 229, 222, 0.86) 29.69%, rgba(77, 232, 225, 0.91) 33.32%, rgba(93, 191, 196, 0.31) 33.33%, rgba(83, 230, 222, 0.82) 33.34%, rgba(78, 232, 224, 0.89) 39.57%, rgba(93, 191, 196, 0.31) 39.58%, rgba(83, 230, 221, 0.81) 42.19%, rgba(78, 231, 224, 0.89) 44.42%, rgba(97, 218, 212, 0.82) 44.43%, rgba(90, 186, 195, 0.31) 44.44%, rgba(105, 210, 203, 0.34) 44.45%, rgba(81, 232, 223, 0.86) 47.91%, rgba(78, 231, 224, 0.88) 47.92%, rgba(75, 239, 229, 1.00) 55.54%, rgba(105, 210, 203, 0.34) 55.55%, rgba(96, 200, 223, 0.31) 55.56%, rgba(79, 227, 221, 0.83) 55.57%, rgba(78, 231, 223, 0.88) 66.64%, rgba(78, 229, 222, 0.86) 66.65%, rgba(78, 230, 223, 0.87) 66.66%, rgba(120, 196, 212, 0.24) 66.67%, rgba(78, 229, 222, 0.86) 66.68%, rgba(81, 228, 221, 0.82) 69.26%, rgba(101, 213, 206, 0.42) 69.27%, rgba(77, 234, 226, 0.93) 69.28%, rgba(79, 229, 222, 0.85) 74.48%, rgba(75, 238, 228, 0.99) 77.77%, rgba(109, 182, 198, 0.17) 77.78%, rgba(93, 221, 215, 0.83) 77.79%, rgba(76, 237, 227, 0.97) 77.8%, rgba(76, 236, 227, 0.96) 81.25%, rgba(75, 239, 229, 1.00) 86.46%, rgba(87, 223, 216, 0.69) 88.88%, rgba(147, 239, 239, 0.07) 88.89%, rgba(83, 226, 220, 0.85) 88.9%, rgba(79, 227, 221, 0.83) 94.79%, rgba(87, 223, 216, 0.69) 99.99%, rgba(131, 220, 239, 0.00) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gpt3_header-content p {
    color: #FFF;
    font-family: var(--font-family);
    font-size: 20px;  
    font-style: normal;
    font-weight: normal;
    line-height: 27px;
    margin-top: 1.5rem;
}

.gpt3_header-content_input {
    width: 100%;
    margin: 2rem 0 1rem;
    display: flex;
}

.gpt3_header-content_input input {
    background: #343232;
    flex:2;
    width:100%;
    min-height: 50px;
    color: #827575;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    border-radius: 5px 0px 0px 5px;
    line-height: 27px;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

  
}

.gpt3_header-content_input button {
    background: #C18585;
    flex: 0.6;
    min-height: 50px;
    border-radius: 5px 0px 0px 5px;
    width: 100%;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    line-height: 27px;
    cursor: pointer;
    padding: 0 1rem;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.gpt3_header-content_people {
    width:100%;
    align-items:center;
    display: flex;
    justify-content: flex-start;
    margin-top: 2rem;
    
}
.gpt3_header-content_people img {
    width: 181.79px;
    height: 38px;
 
}

.gpt3_header-content_people p {
    margin: 0 0 0 1rem;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 15px;
    line-height: 38px;
    color: #FFFFFF;
    text-align: center;
}

.gpt3_header-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}

.gpt3_header-image img {
    width: 60%;
    height: 100%;
}

/* responsive */

@media screen and (max-width: 1050px) {
    .gpt3_header {
        flex-direction: column;
    }
    .gpt3_header-content {
        margin: 0 0 3rem;
    }
    .gpt3_header-content_people p {
        margin:0;
    }
}

@media screen and (max-width: 650px) {
    .gpt3_header h1 {
        font-size:48px;
        line-height: 60px;
    }
    .gpt3_header p {
        font-size:16px;
        line-height: 24px;
    }

    .gpt3_header-content_people {
        flex-direction: column;
    }

    .gpt3_header-content_people p {
        margin:0;
    }
   

    .gpt3_header-content_input input,
    .gpt3_header-content_input button {
        font-size: 16px;
        line-height: 24px;
        
    }

}

@media screen and (max-width: 490px) {
    .gpt3_header h1 {
        font-size:36px;
        line-height: 48px;
    }
    .gpt3_header p {
        font-size:14px;
        line-height: 24px;
    }

     .gpt3_header-content_input input {
        font-size: 16px;
        line-height: 24px;
     }
    .gpt3_header-content_input button {
        font-size: 16px;
        line-height: 24px;
       
    }
}